body {
    background-image: url(./image/background.jpg);
    background-size: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }
  
  .control {
      text-align: center;
      background-color: #4caf50;
      color: white;
      padding: 10px 100px;
      display:flex;
      font-size: 16px;
      margin: 10px;
      border-radius: 5px;
      justify-content: center;
  }
  
  canvas {
    background: #0a4975;
  }